{
	"{src,scripts}/**/*.{js,ts,jsx,tsx}": "npm exec -- eslint --fix",
	"frontend2/**/*.{js,ts,jsx,tsx,vue}": "bash -c 'cd frontend2 && npm exec -- eslint --fix'",
	"*.prisma": "npm exec -- prisma format"
}
