{
	auto_https off
}

https://mini.tail61a7d.ts.net:4000 {
	# tls internal

	# New frontend
	handle /beta* {
		reverse_proxy {$FRONTEND_HOST:localhost}:{$FRONTEND_PORT:3001}
	}
	handle /login* {
		@get method GET
		reverse_proxy @get {$FRONTEND_HOST:localhost}:{$FRONTEND_PORT:3001}
	}
	handle /icons/* {
		reverse_proxy {$FRONTEND_HOST:localhost}:{$FRONTEND_PORT:3001}
	}
	handle /_nuxt/* {
		reverse_proxy {$FRONTEND_HOST:localhost}:{$FRONTEND_PORT:3001}
	}
	handle /__nuxt_devtools__/* {
		reverse_proxy {$FRONTEND_HOST:localhost}:{$FRONTEND_PORT:3001}
	}
	handle /api/* {
		uri strip_prefix /api
		reverse_proxy {$BACKEND_HOST:localhost}:{$BACKEND_PORT:3000}
	}

	# Backend API
	reverse_proxy {$BACKEND_HOST:localhost}:{$BACKEND_PORT:3000}
}
